---
dependency:
  name: galaxy
  options:
    ignore-certs: true
    ignore-errors: true
driver:
  name: docker
platforms:
  - name: homelab
    hostname: franklin-homelab
    #image: python:3.6-stretch
    image: debian:stretch
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
    command: '/lib/systemd/systemd'
    networks:
      - name: homelab_network
        aliases:
          - "franklin-homelab"
    purge_networks: true
provisioner:
  name: ansible
  ansible:
    sudo: false
  playbooks:
    create: create.yml
    prepare: prepare.yml
  log: true
scenario:
  name: default
  test_sequence:
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - verify

verifier:
  name: testinfra
  env:
    PYTHONWARNINGS: "ignore:.*U.*mode is deprecated:DeprecationWarning"
