---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: odroid-c1
    hostname: odroid-c1
    #image: python:3.6-stretch
    image: debian:buster
    # Do note that running containers in privileged mode is considerably less secure.
    privileged: true
    env:
      HOMELAB_MOLECULE_TEST: "true"
provisioner:
  name: ansible
  log: true
scenario:
  become: true
  test_sequence:
    - destroy
    - create
    - prepare
    - converge
    - verify
    - destroy
verifier:
  name: testinfra
  env:
    PYTHONWARNINGS: "ignore:.*U.*mode is deprecated:DeprecationWarning"
