*.code-workspace
.ansible
.bash_history
.ssh

__pycache__
*.retry
ansible/venv_molecule/
ansible/roles/firewall/vars/firewall-secrets.yml
ansible/roles/firewall/vars/panorama-secrets.yml
ansible/roles/paloaltonetworks.paloaltonetworks
ansible_collections
