---
sudo: required
language: python
services:
  - docker
before_install:
  - sudo apt-get -qq update
install:
  - pip install molecule
  # - pip install required driver (e.g. docker, python-vagrant, shade, boto, apache-libcloud)
script:
  - cd ansible/roles/dns && molecule lint && cd -
  - cd ansible/roles/pi && molecule lint && cd -
