---
sudo: required
dist: xenial   # required for Python >= 3.7
language: python
python:
  - '3.7'
services:
  - docker
before_install:
  - sudo apt -qq update
  - python -m pip install -r python/requirements-test.txt
  - python -m pip install -r python/requirements.txt
script:
  - cd ansible/roles/cluster && molecule syntax && cd - 
  - cd ansible/roles/dns && molecule syntax && cd -
