---
sudo: required
language: python
services:
  - docker
before_install:
  - sudo apt-get -qq update
install:
  - pip install -r python/requirements-test.txt
  - pip install -r python/requirements.txt
  # - pip install required driver (e.g. docker, python-vagrant, shade, boto, apache-libcloud)
script:
  - cd ansible/roles/dns && molecule syntax && cd -
  - cd ansible/roles/pi && molecule syntax && cd -
