---
- name: 'Update APT package cache'
  apt:
    name: "*"
    update_cache: yes
    force_apt_get: yes
    cache_valid_time: 3600

- name: 'Upgrade APT to the latest packages'
  apt: 
    upgrade: safe
