---
# This goes here because of logging specified in krb5.conf
- name: "Create /var/log/kerberos folder"
  file:
    path: "/var/log/kerberos"
    owner: "root"
    state: directory

- name: 'Copy /etc/krb5.conf'
  copy:
    src: krb5.conf
    dest: /etc/krb5.conf
    mode: 0664

- name: "Create ~/.ssh folder"
  file:
    path: "/root/.ssh"
    owner: "root"
    mode: 0700
    state: directory
  
- name: 'Copy ssh authorized_keys'
  copy:
    src: authorized_keys
    dest: /root/.ssh/authorized_keys
    mode: 0644
