---
# This goes here because of logging specified in krb5.conf
- name: "Create /var/log/kerberos folder"
  file:
    path: "/var/log/kerberos"
    owner: "root"
    state: directory

- name: 'Copy /etc/krb5.conf'
  copy:
    src: krb5.conf
    dest: /etc/krb5.conf
    mode: 0664

- name: "Create ~/.ssh folder"
  file:
    path: "/root/.ssh"
    owner: "root"
    mode: 0700
    state: directory
  
- name: 'Copy ssh authorized_keys'
  copy:
    src: authorized_keys
    dest: /root/.ssh/authorized_keys
    mode: 0644

- name: "Create /etc/krb5 folder"
  file:
    path: "/etc/krb5"
    owner: "root"
    state: directory

- name: 'Copy ssh authorized_keys'
  copy:
    src: cacert.pem
    dest: /etc/krb5/cacert.pem
    mode: 0644

# install libnss-ldap libpam-ldap nscd
#dpkg-reconfigure libnss-ldap
# dpkg-reconfigure libpam-ldap
# cp /usr/share/doc/libnss-ldap/examples/nsswitch.ldap /etc