---
- name: Install packages
  include: packages.yml

- name: Setup NTP
  include: ntp.yml

#- name: "Set up OpenLDAP on host"
#  include: ldap.yml
#  when: "'lanparty' in inventory_hostname"

- name: "Copy update_motd.sh script"
  copy:
    src: "update_motd.sh"
    dest: /usr/local/bin/update_motd.sh
    mode: 0755

- name: Update MOTD
  shell: /usr/local/bin/update_motd.sh > /etc/motd
