---
- name: Install packages
  include: packages.yml

- name: Setup NTP
  include: ntp.yml

- name: "Set up auth on hosts"
  include: auth.yml

- name: Adding lab group
  group:
    name: "lab"
    state: present

#- name: "Adding username {{ item.username }}"
#  user:
#    name: "{{ item.username }}"
#    create_home: true
#    comment: "managed via ansible"
#    password: "{{ 'password' | password_hash('sha-512' ) }}"
#    update_password: on_create
#    groups: lab
#  with_items: "{{ users }}"

#- name: "Create SSH folders"
#  file:
#    path: "/home/{{ item.name }}/.ssh"
#    owner: "{{ item.name }}"
#    state: directory
#  with_items: "{{ users }}"

#- name: "Create Authorized keys file"
#  file:
#    src: files/authorized_keys
#    dest: "/home/{{ item.name }}/.ssh/authorized_keys"
#    owner: "{{ item.name }}"
#    state: file
#  with_items: "{{ users }}"

- name: "Create /mnt/home directory"
  file:
    path: "/mnt/home"
    owner: 'nobody'
    group: 'nogroup'
    mode: 0755
    state: directory
  when:
    - "'odroid-c1' not in inventory_hostname"
  
- name: 'Mount /mnt/home'
  mount: 
    src: "10.10.12.7:/mnt/home" 
    path: "/mnt/home"
    fstype: nfs
    state: mounted
  when:
    - "'lanparty' not in inventory_hostname"
    - "'odroid-c1' not in inventory_hostname"
  