---
- name: Install packages
  include: packages.yml

- name: Setup NTP
  include: ntp.yml

- name: "Set up Kerberos auth on host"
  include: auth.yml

- name: "Set up OpenLDAP on host"
  include: ldap.yml
  when: "'lanparty' in inventory_hostname"
  