---
- name: Install packages
  include: packages.yml

- name: Setup NTP
  include: ntp.yml

- name: "Set up Kerberos auth on host"
  include: auth.yml

- name: "Set up OpenLDAP on host"
  include: ldap.yml
  when: "'lanparty' in inventory_hostname"

- name: "Create /mnt/home directory"
  file:
    path: "/mnt/home"
    owner: 'nobody'
    group: 'nogroup'
    mode: 0755
    state: directory
  when:
    - "'odroid-c1' not in inventory_hostname"
  
- name: 'Mount /mnt/home'
  mount: 
    src: "10.10.12.7:/mnt/home" 
    path: "/mnt/home"
    fstype: nfs
    state: mounted
  when:
    - "'lanparty' not in inventory_hostname"
    - "'odroid-c1' not in inventory_hostname"
  