---
- name: Firewall setup for Raspis
  include: firewall.yml

- name: Include docker setup for Raspis
  include: docker.yml

- name: Install Kuberbnetes
  include: kubernetes.yml

- name: 'Install MPICH'
  include: mpich.yml
