---
- name: install certificate authority packages
  apt:
    name:
      - gfortran
      - mpich
      - python3-mpi4py
      - slurm-wlm
      - munge
    force_apt_get: true
    update_cache: true
  tags: cluster

- name: 'install slurm.conf'
  copy:
    src: slurm.conf
    dest: /etc/slurm-llnl/slurm.conf
    mode: 0644
  tags: cluster

- name: 'Set NodeName in /etc/slurm-llnl/slurm.conf'
  lineinfile:
    path: /etc/slurm-llnl/slurm.conf
    regexp: '^NodeName=server'
    line: "NodeName={{ ansible_hostname }} CPUs=4 State=UNKNOWN"
  tags: cluster

- name: 'install cgroup.conf for slurm'
  copy:
    src: cgroup.conf
    dest: /etc/slurm-llnl/cgroup.conf
    mode: 0644
  notify: "restart slurmd service"
  tags: cluster

- name: 'install cgroup_allowed_devices_file.conf for slurm'
  copy:
    src: cgroup_allowed_devices_file.conf
    dest: /etc/slurm-llnl/cgroup_allowed_devices_file.conf
    mode: 0644
  notify:
    - 'restart munge service'
    - 'restart slurmd service'
    - 'restart slurmctld service'
  tags: cluster

- name: 'Ensure munge is started'
  service:
    name: munge
    state: started
    enabled: true
  tags: cluster

- name: 'Ensure slurmd is started'
  service:
    name: slurmd
    state: started
    enabled: true
  tags: cluster

- name: 'Ensure slurmctld is started'
  service:
    name: slurmctld
    state: started
    enabled: true
  tags: cluster
