---
- fail: msg="The machine's domain must not be empty."
  when: ansible_domain | length == 0

- name: check if we are installing
  stat: path=/etc/rsyslog.d/bitsmasher.conf
  register: myconf

- name: "Create {{ logging_directory }} folder on Syslog server"
  file:
    path: "{{ logging_directory }}"
    owner: root
    group: adm
    mode: 0755
    state: directory
  when: "'fileserve2' in inventory_hostname"

- name: Copy rsyslog server configuration file.
  template:
    src: bitsmasher.conf.j2
    dest: /etc/rsyslog.d/bitsmasher.conf
    owner: root
    group: adm
    mode: 0644
  notify: "restart rsyslog service"
  when: "'fileserve2' in inventory_hostname"

- name: Copy logrotate for rsyslog
  template:
    src: syslog.rotate.j2
    dest: /etc/logrotate.d/syslog.rotate
    owner: root
    group: adm
    mode: 0644
  when: "'fileserve2' in inventory_hostname"

- name: 'Copy rsyslog client configuration file.'
  template:
    src: client.conf.j2
    dest: /etc/rsyslog.d/client.conf
    mode: 0664
    owner: root
    group: adm
  notify: "restart rsyslog service"
  when: "'fileserve2' not in inventory_hostname"
