---
- name: "Create {{ logging_directory }} folder"
  file:
    path: "{{ logging_directory }}"
    owner: root
    state: directory

- name: Copy rsyslog configuration file.
  template:
    src: bitsmasher.conf.j2
    dest: /etc/rsyslog.d/bitsmasher.conf
    owner: root
    group: root
    mode: 0644
  notify: "restart rsyslog service"

#- name: 'Copy /etc/rsyslog.conf'
#  copy:
#    src: rsyslog.conf
#    dest: /etc/rsyslog.conf
#    mode: 0664
#    owner: root
#  notify: "restart rsyslog service"
