---
- name: 'Ensure NFS utilities are installed'
  apt:
      package: ['nfs-kernel-server', 'nfs-common' ]
      state: latest
  tags: admin

- name: Ensure directories to export exist
  file:
    path: "{{ item.strip().split()[0] }}"
    state: directory
  with_items: "{{ nfs_exports }}"
  when: "'fileserve2' in inventory_hostname"

- name: Copy exportfs file.
  template:
    src: exportfs.j2
    dest: /etc/exportfs
    owner: root
    group: root
    mode: 0644
  notify: reload nfs
  when: "'fileserve2' in inventory_hostname"

- name: install sssd-krb5
  apt:
    name:
      - sssd-krb5
      - sssd-ldap
      - sssd-tools     ##  sss_cache -U -G
    state: latest

- name: provide identities from directory
  template:
    src: sssd.conf.j2
    dest: /etc/sssd/sssd.conf
    mode: 0600
  #notify: restart sssd
  #when: kadmin.stat.exists

- name: Ensure nfs is running.
  service: "name={{ nfs_server_daemon }} state=started enabled=yes"
  when: nfs_exports|length
