---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: homelab
    hostname: node0
    image: debian:buster
    privileged: true
    env:
      HOMELAB_MOLECULE_TEST: "true"
provisioner:
  name: ansible
  log: true
scenario:
  become: true
  test_sequence:
    - destroy
    - create
    - prepare
    - converge
    - test
    - destroy
verifier:
  name: testinfra
  env:
    PYTHONWARNINGS: "ignore:.*U.*mode is deprecated:DeprecationWarning"
