---
- name: 'Update APT package cache'
  apt:
    update_cache: yes
    upgrade: safe
  tags: admin

- name: Install DNS admin tools
  apt:
    package: ['bind9', 'bind9utils', 'dnsutils']
    state: latest
  tags: admin
