---
- name: Install packages
  include: packages.yml

- name: "Create /etc/bind folder"
  file:
    path: "/etc/bind"
    owner: "root"
    state: directory

- name: 'Copy BIND files'
  copy:
    src: "{{ item }}"
    dest: /etc
    mode: 0664
  with_items:
    - bind
  notify: "restart bind service"
  
- name: 'Copy /etc/bind/named.conf.local on master'
  copy:
    src: named.conf.local.master
    dest: /etc/bind/named.conf.local
    mode: 0644
  when: "'odroid-c1' in inventory_hostname"

- name: 'Copy /etc/bind/named.conf.local on slave'
  copy:
    src: named.conf.local.slave
    dest: /etc/bind/named.conf.local
    mode: 0644
  when: "'ns2' in inventory_hostname"
