---
- name: 'Ansible Playbook for Raspi Cluster'
  hosts: cluster
  remote_user: pi
  become: yes
  vars:
    ansible_python_interpreter: "/usr/bin/python3"
  roles:
    - pi
    - cluster
    - logging
