---
- name: 'Ansible Playbook for servers'
  import_playbook: servers.yml

- name: Include the fileserve play
  import_playbook: fileserve.yml

- name: Include the cluster play
  import_playbook: cluster.yml

- name: Include the media play
  import_playbook: media.yml