---
- name: Ansible Playbook for ODroid C1+
  hosts: odroid-c1
  roles:
    - dns
    - kerb_ldap
  remote_user: root
  become: yes

- name: Raspi Cluster configuration
  hosts: cluster
  roles:
    - pi
    - cluster
  remote_user: pi
  become: yes
