---
- name: Ansible Playbook for configuring brand new Raspberry Pi
  hosts: raspi
  roles:
    - pi
  remote_user: pi
  become: yes
- name: Raspi Cluster configuration
  hosts: cluster
  roles:
    - pi
    - cluster
  remote_user: pi
  become: yes
