---
- name: "Include the Raspberry Pi cluster play"
  import_playbook: raspi_cluster.yml

- name: "Ansible Playbook for servers"
  import_playbook: servers.yml

- name: Include the storage play
  import_playbook: storage.yml

- name: Include the media play
  import_playbook: media.yml
