---
- name: Include the fileserve play
  include: fileserve.yml

- name: Include the cluster play
  include: cluster.yml

- name: 'Ansible Playbook for servers'
  hosts: servers
  remote_user: root
  become: yes
  vars:
    ansible_python_interpreter: "/usr/bin/python3"
  roles:
    - common
    - dns
    - kerb_ldap

- name: Include the media play
  include: media.yml
