---
- name: 'Ansible Playbook for servers'
  hosts: servers
  remote_user: root
  become: yes
  gather_facts: False
  vars:
    ansible_python_interpreter: "/usr/bin/python3"
  roles:
    - common
    - dns
    - kerb_ldap
