---
- name: 'Common playbook for all hosts'
  hosts: all
  roles:
    - common
  become: yes

- name: 'Ansible Playbook for storage cluster'
  hosts: storage
  roles:
    - pi
    - storage
  remote_user: pi
  become: yes
