---

# /etc/krb5.conf is in the common playbook

- name: "Create /etc/krb5kdc folder"
  file:
    path: "/etc/krb5kdc"
    owner: "root"
    state: directory

- name: 'Copy /etc/krb5kdc/kdc.conf'
  copy:
    src: kdc.conf
    dest: /etc/krb5kdc/kdc.conf
    mode: 0664

- name: 'KDC is running'
  service:
    name: krb5-kdc
    state: started

- name: 'krb5-admin-server is running'
  service:
    name: krb5-kdc
    state: started
