---
- name: "Create /var/log/kerberos folder"
  file:
    path: "/var/log/kerberos"
    owner: "root"
    state: directory

- name: 'Copy /etc/krb5.conf'
  copy:
    src: krb5.conf
    dest: /etc/krb5.conf
    mode: 0664

- name: "Create ~/.ssh folder"
  file:
    path: "/root/.ssh"
    owner: "root"
    mode: 0700
    state: directory
  
- name: 'Copy ssh authorized_keys'
  copy:
    src: authorized_keys
    dest: /root/.ssh/authorized_keys
    mode: 0644

- name: "Create /etc/krb5 folder"
  file:
    path: "/etc/krb5"
    owner: "root"
    state: directory

- name: 'Copy ssh authorized_keys'
  copy:
    src: cacert.pem
    dest: /etc/krb5/cacert.pem
    mode: 0644

- name: kerberize sshd server
  lineinfile:
    dest: /etc/ssh/sshd_config
    line: "GSSAPIAuthentication yes"
    insertafter: "#GSSAPIAuthentication no"
  notify: "reload sshd"

- name: kerberize ssh client, authenticate
  lineinfile:
    dest: /etc/ssh/ssh_config
    line: "GSSAPIAuthentication yes"
    insertafter: "#   GSSAPIAuthentication no"

- name: kerberize ssh client, delegate credentials
  lineinfile:
    dest: /etc/ssh/ssh_config
    line: "GSSAPIDelegateCredentials yes"
    insertafter: "#   GSSAPIDelegateCredentials no"
