---
- name: "Create /etc/ldap/schema folder"
  file:
    path: "/etc/ldap/schema"
    owner: "root"
    state: directory

- name: 'Copy /etc/default/slapd'
  copy:
    src: slapd
    dest: /etc/default/slapd
    mode: 0644

- name: 'slapd is running'
  service: 
    name: slapd
    state: started
